@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- Service Start -->
<div class="container p-md-5">
    <h3 class="text-left p-2">Dịch vụ</h3>
    <div class="container p-2">
        <div class="services row g-5">
            
        </div>
    </div>
</div>
<!-- Service End -->



<div class="container p-md-5">
    <h3 class="text-left p-2">Minh Nhật cam kết</h3>
    <div class="container text-center p-2" style="max-width:400px">
        <div class="row" style="margin: 0 auto">
            <div class="col-6" style="max-width:250px">
                <img src="https://img.tgdd.vn/imgt/f_webp,s_120x120,fit_outside/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-0.H.png" alt="Đúng hẹn" width="120" height="120" loading="lazy" v-lazy-load="true" data-src="https://img.tgdd.vn/imgt/f_webp,s_120x120/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-0.H.png,fit_outside">
                <p class="pt-2">Đúng hẹn</p>
            </div>
            <div class="col-6" style="max-width:250px">
                <img src="https://img.tgdd.vn/imgt/f_webp,s_120x120,fit_outside/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-2.H.png" alt="Tay nghề giỏi" width="120" height="120" loading="lazy" v-lazy-load="true" data-src="https://img.tgdd.vn/imgt/f_webp,s_120x120/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-2.H.png,fit_outside">
                <p class="pt-2">Tay nghề giỏi</p>
            </div>
            <div class="col-6" style="max-width:250px">
                <img src="https://img.tgdd.vn/imgt/f_webp,s_120x120,fit_outside/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-4.H.png" alt="Trung thực" width="120" height="120" loading="lazy" v-lazy-load="true" data-src="https://img.tgdd.vn/imgt/f_webp,s_120x120/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-4.H.png,fit_outside">
                <p class="pt-2">Trung thực</p>
            </div>
            <div class="col-6" style="max-width:250px">
                <img src="https://img.tgdd.vn/imgt/f_webp,s_120x120,fit_outside/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-6.H.png" alt="Thân thiện &amp; </br>Vui vẻ" width="120" height="120" loading="lazy" v-lazy-load="true" data-src="https://img.tgdd.vn/imgt/f_webp,s_120x120/https://cdn.tgdd.vn/mwgcart/tan-tam/images/common/img_commit-6.H.png,fit_outside">
                <p class="pt-2">Thân thiện &amp; <br>Vui vẻ</p>
            </div>
        </div>
        <a href="/cam-ket" class="btn-commit"><span>Xem chi tiết cam kết &amp; hoàn tiền</span></a>
    </div>        
</div>


@await Html.PartialAsync("~/Views/Shared/PartialView/_About.cshtml")


<script> var Base_URL = '@ViewBag.serverAPI'</script>
@section Scripts{
    <script src="~/js/HandlePage/HomeHandle.js"></script>
}