
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container p-5">
    <div class="container p-2">
        <div class="row g-5">
            <div class="col-lg-12 wow fadeInUp" data-wow-delay="0.1s">
                <div>
                    <h3 class="text-left">Dịch vụ Điện lạnh Minh Nhật</h3>
                    <p><span>Lời đầu tiên, xin cho phép<strong>&nbsp;Dịch Vụ Điện Lạnh Minh Nhật.</strong> Được gửi lời chào trân trọng, lời chúc sức khỏe đến quý khách hàng.</span></p>
                    <p><span>Xin chân thành cảm ơn quý khách hàng đã tin tưởng, ủng hộ <strong>Dịch Vụ Điện Lạnh Minh Nhật Cần Thơ&nbsp;</strong>trong suốt thời gian qua. Chúng tôi luôn mông muốn sẽ là đơn vị cung cấp dịch vụ điện lạnh<em>,</em>&nbsp;số một được quý khách hàng tin tưởng lựa chọn.</span></p>
                    <p><span>Để đáp lại sự tín nhiệm, và tin tưởng của quý khách hàng trong thời gian qua. Chúng Tôi sẽ không ngừng nổ lực nâng cao chất lượng dịch vụ. Nhằm phục vụ quý khách hàng ngày một tốt hơn.</span></p>
                    <p><span>Qua nhiều năm hoạt động trong lĩnh vực dịch vụ điện lạnh. Chúng Tôi đã thấu hiểu những băn khoăn, trăn trở, thắc mắc của quý khách hàng. Về nhu cầu dịch vụ nhanh chóng, chất lượng, giá cả hợp lý và bảo hành dài hạn. Vì vậy chúng tôi không ngừng nâng cao chất lượng dịch vụ điện lạnh của cơ sở. Nhằm giúp quý khách hàng bớt đi lo lắng về mảng cung cấp dịch vụ điện lạnh tốt nhất, uy tín nhất và đặt biệt <strong><em>giá rẻ nhất.</em></strong></span></p>
                    <p><span>Từ đó giúp cho quý khách hàng có những nghiệm dịch vụ điện lạnh tốt hơn. Mong rằng,<strong>&nbsp;Điện Lạnh Minh Nhật Cần Thơ</strong>, sẽ là nơi cung cấp dịch vụ điện lạnh tốt nhất được quý khách hàng lựa chọn.</span></p>
                    <h3><span ></span><span ><strong>Lý do khách hàng chọn Điện Lạnh Minh Nhật</strong></span><span ></span></h3>
                    <p><span><strong><em>Ưu điểm khi chọn Điện Lạnh Minh Nhật</em></strong></span></p>
                    <p><span>1/ Hỗ trợ <strong>nhanh chóng 24/7</strong> bất cứ khi nào quý khách cần.</span></p>
                    <p><span>2/ Kiểm tra hư hỏng, tiến hành báo giá, <strong>sửa chữa nếu khách hàng đồng ý.</strong></span></p>
                    <p><span>3/ Cam kết thay thế linh kiện điên lạnh <strong>chính hãng 100%.</strong></span></p>
                    <p><span>4/ Chính sách bảo hành linh kiện điện lạnh <strong>dài hạn từ 3-12 tháng.</strong></span></p>
                    <p><span>5/ Đội ngũ kỹ thuật viên có <strong>nhiều năm kinh nghiệm</strong> trong nghề.</span></p>
                    <p><span>6/ Quy trình sửa chữa bảo trì thiết bị điện lạnh <strong>chuyên nghiệp.</strong></span></p>
                    <p><span>7/ Đề xuất phương án tốt nhất và giúp khách hàng <strong>tối ưu chi phí.</strong></span></p>
                    <p><span>8/ Có đội ngũ nhân viên<strong> tư vấn nhiệt tình, chuyên nghiệp.</strong></span></p>
                    <p><span>9/ <strong>Tư vấn sử dụng</strong> thiết bị điện lạnh tránh hư hỏng, phải sửa chữa.</span></p>
                    <h3><span></span><span><strong> <strong>Dịch Vụ </strong><strong>Điện Lạnh Minh Nhật Cần Thơ</strong>&nbsp;</strong></span><span></span></h3>
                    <p><span><strong><em>Những Dịch Vụ Được Cung Cấp Bởi Điện Lạnh Minh Nhật</em></strong></span></p>
                    <p><span>– Dịch vụ lắp đặt, sửa chữa , vệ sinh máy lạnh Cần Thơ.</span></p>
                    <p><span>–&nbsp;Dịch vụ lắp đặt , sửa chữa , vệ sinh máy giặt Cần Thơ.</span></p>
                    <p><span>– Dịch vụ Lắp đặt, sửa chữa, máy nước nóng tại cần thơ.</span></p>
                    <p><span>– Dịch vụ sửa chữa tủ lạnh Cần Thơ.</span></p>
                    <p><span>– Dịch Vụ Sửa Chữa lò vi sóng tại cần thơ.</span></p>
                    <p><span>– Dịch vụ sửa chữa điện nước dân dụng Cần Thơ.</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


