
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<!-- Service Start -->
<div class="container p-md-5">
    <h3 class="text-left p-2">Dịch vụ</h3>
    <div class="container p-2">
        <div class="services row g-5">
        </div>
    </div>
</div>
<!-- Service End -->